<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/cb-logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>Beli Code</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/image00001.jpeg" alt="Foto do Caio">
            <h1>Caio Belizario</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/caio-belizario/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="https://github.com/caiobzr" target="_blank">
                    <i class="bi bi-github"></i>
                </a>
                <a href="https://www.instagram.com/caio.bzr/" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="https://www.youtube.com/@caiobelizario5055" target="_blank">
                    <i class="bi bi-youtube"></i>
                </a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"
                            aria-hidden="true"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check" aria-hidden="true"></i>
                        Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark" aria-hidden="true"></i>
                        Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection" aria-hidden="true"></i>
                        Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i> Contato</a>
                </li>
            </ul>
        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Caio Belizario</h2>
                <span id="subtitle" class="text-white text-shadow">Músico, Dev e Cristão</span>
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Sou Bacharel em Administração pela Unicesumar, atualmente cursando Análise e Desenvolvimento de
                        Sistemas e Pós-graduação em Ciência de Dados, também pela Unicesumar. Minha trajetória acadêmica
                        reflete meu compromisso com a aprendizagem contínua e com a integração entre tecnologia e
                        gestão, áreas que considero fundamentais para impactar positivamente o mundo ao meu
                        redor.<br><br>

                        Minha experiência profissional inclui especialização em implantação de e-commerce, integrando
                        plataformas como Magento e WooCommerce aos principais marketplaces. Tenho sólida base técnica em
                        SQL, desenvolvimento front-end (HTML5, CSS3, JavaScript, React e Bootstrap), além de experiência
                        com Python, Flask e integração de APIs utilizando Postman. Utilizo Figma para criação de
                        protótipos e design de interfaces, contribuindo para o desenvolvimento de soluções inovadoras e
                        funcionais. <br><br>
                        Como cristão, acredito que minha jornada profissional está alinhada a um propósito maior: marcar
                        minha geração como alguém que fez a diferença, deixando um legado de bondade e impacto positivo.
                        Sou motivado por desafios que me permitam utilizar minhas habilidades para transformar dados em
                        insights estratégicos, automatizar processos e desenvolver soluções que agreguem valor ao
                        negócio e à sociedade. <br><br>
                        Estou sempre em busca de oportunidades para crescer, aprender e contribuir, utilizando
                        tecnologia para resolver problemas e criar um futuro melhor.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid" src="../static/img/img caio corpo.png" alt="foto do Caio">
                </div>
                <div class="col-md-8">
                    <h3>Assistente de Suporte de T.I</h3>
                    <P>Atualmente, atuo como Assistente de Suporte de TI no ecossistema Unimed, onde sou responsável por
                        criar acessos para novos colaboradores e garantir a segurança e eficiência dos sistemas. Presto
                        suporte técnico a clientes internos e externos, auxiliando na resolução de problemas
                        relacionados a sistemas, impressoras, computadores e periféricos. Além disso, gerencio chamados
                        no helpdesk, priorizando e solucionando demandas com agilidade. Meu foco é garantir a
                        continuidade operacional e a satisfação dos usuários.</P>

                    <div class="row mt-3 mb-3">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Data de Nascimento: <span class="fw-lighter">13 de Agosto de 2001</span>
                                </li>
                                <li class="list-group-item">
                                    Idade: <span class="fw-lighter">23 anos</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Cianorte</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Paraná</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Hobbies: <span class="fw-lighter">Jogar futebol, jogos de FPS e música</span>
                                </li>
                                <li class="list-group-item">
                                    Trabalho: <span class="fw-lighter">Unimed de Cianorte Cooperativa de Trabalho
                                        Médico</span>
                                </li>
                                <li class="list-group-item">
                                    Nivel Experiência Tech: <span class="fw-lighter">Iniciante (2 anos de experiência
                                        com Implantação de Sistemas + 1 ano como Suporte de T.I)</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>Estou em busca da minha primeira experiência como desenvolvedor, trazendo uma base sólida em
                        JavaScript, Python, React e Flask. Com habilidades técnicas e experiência em TI, estou pronto
                        para enfrentar desafios, aprender rápido e contribuir com soluções inovadoras. Se você procura
                        alguém dedicado, proativo e comprometido com a excelência, estou pronto para começar essa
                        jornada!</p>
                </div>
            </div>
        </section>

        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>Em todo tempo como profissional de teconolia e em outras experiências, adquiri habilidades técnicas e
                    não técnicas, a maioria delas estão aqui de acordo com a porcetagem de conhecimento que eu acredito
                    ter em cada uma delas.</p>
                <div class="row">
                    <div class="col-md-6">
                        <h4>HardSkills</h4>
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 65%">65%</div>
                        </div>
                        <p class="mt-3 mb-0">Bootstrap</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 60%">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 55%">55%</div>
                        </div>
                        <p class="mt-3 mb-0">SQL</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">GIT</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 70%">70%</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h4>SoftSkills</h4>
                        <p class="mt-3 mb-0">Atendimento ao Cliente</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 90%">90%</div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Trabalho em Equipe</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 95%">95%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a Detalhes</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 80%">80%</div>
                        </div>
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 85%">85%</div>
                        </div>
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                        <p class="mt-3 mb-0">Orientação ao Objetivo</p>
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 98%">98%</div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-title">Educação</h3>

                        <div class="cv-item">
                            <h4>Bacharel em Administração</h4>
                            <h5>2019 - 2023</h5>
                            <p><em>Unicesumar</em></p>
                            <p>Cursando Administração pela Unicesumar, adquiri uma sólida base em gestão estratégica,
                                análise de processos e liderança organizacional. Durante o curso, desenvolvi habilidades
                                em planejamento empresarial,
                                finanças e marketing, aplicando conceitos práticos para otimização de resultados. Essa
                                formação foi essencial para entender os desafios do mercado e implementar soluções que
                                integrem tecnologia e administração, potencializando o desempenho empresarial.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Tecnologo em Analise e Desenvolvimento de Sistemas</h4>
                            <h5>2023 - Em Andamento (prev. de conclusão 2025)</h5>
                            <p><em>Unicesumar</em></p>
                            <p>Atualmente cursando Análise e Desenvolvimento de Sistemas na Unicesumar, estou
                                aprofundando meus conhecimentos em desenvolvimento de software, análise de dados e
                                arquitetura de sistemas. O curso tem me proporcionado experiência prática com linguagens
                                de programação, desenvolvimento front-end e back-end, e gestão de projetos ágeis. Meu
                                objetivo é aplicar esses conhecimentos em projetos reais, entregando soluções eficientes
                                e escaláveis</p>
                        </div>
                        <div class="cv-item">
                            <h4>Pós Graduação Lato Sensu em Ciência de Dados</h4>
                            <h5>2024 - Em Andamento (prev. de conclusão 2024)</h5>
                            <p><em>Unicesumar</em></p>
                            <p>Cursando atualmente a Pós-graduação em Ciência de Dados pela Unicesumar, estou me
                                especializando em análise avançada de dados, modelagem preditiva e machine learning.
                                Esse programa tem me capacitado a transformar grandes volumes de dados em insights
                                valiosos, contribuindo para a tomada de decisões estratégicas. Com foco em inovação,
                                busco aplicar essas habilidades para resolver problemas complexos e gerar valor em
                                diferentes contextos de negócios.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-title">Profissional</h3>

                        <div class="cv-item">
                            <h4>Assistente de Suporte de TI</h4>
                            <h5>2022 - Atual</h5>
                            <p><em>Unimed de Cianorte Cooperativa de Trabalho Médico</em></p>
                            <p>Prestando suporte técnico a clientes internos e externos, auxiliando na resolução de
                                problemas relacionados a sistemas, impressoras, computadores e periféricos. Além disso,
                                gerencio chamados no helpdesk, priorizando e solucionando demandas com agilidade. Meu
                                foco é garantir a continuidade operacional e a satisfação dos usuários.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Analista de implantação</h4>
                            <h5>2021 - 2022</h5>
                            <p><em>DB1 Group - ANYMARKET</em></p>
                            <p>Atuando com foco em integração de sistemas ERP's, plataformas de ecommerce e integrações
                                API.</p>
                        </div>
                        <div class="cv-item">
                            <h4>Auxiliar de Analista Administrativo</h4>
                            <h5>2018 - 2019</h5>
                            <p><em>Jupiter Baterias E Componentes</em></p>
                            <p>Auxiliando em processos administrativos e controle de entrada dos produtos de compras ao
                                sistema ERP da empresa.</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="section-bg mt-5" id="portfolio">

            <div class="container pb-5 pt-5">

                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/calculadora.png" class="card-img-top"
                                            alt="Calculadora de Itens para Churrasco">
                                        <div class="card-body">
                                            <h5 class="card-title">Calculadora para Churrasco</h5>
                                            <p class="card-text">Esta é uma aplicação desenvolvida para atividade Mapa
                                                de meu curso universitário.
                                                O objetivo era criar uma calculadora que calcula-se a partir da
                                                quantidade de pessoas (homens, mulheres e crianças) e a quantidade que
                                                cada individuo consome com base uma tabela fornecida pelo professor.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://dev-seu-negocio-digital.pantheonsite.io/calculadora-churrasco/"
                                                    target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/caiobzr/Mapa-Calculadora-Churras.git"
                                                    target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/pokedex.png" class="card-img-top" alt="Pokedex">
                                        <div class="card-body">
                                            <h5 class="card-title">Pokedex</h5>
                                            <p class="card-text">Esta é uma aplicação desenvolvida em um curso da
                                                DIO.me.
                                                O objetivo era criar uma Pokedex que buscava todos os pokemons alocados
                                                na API oficial de Pokedex.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/caiobzr/pokedex.git" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/caiobzr/pokedex.git" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/portfolio.png" class="card-img-top"
                                            alt="Meu Portifolio">
                                        <div class="card-body">
                                            <h5 class="card-title">Meu Portfólio</h5>
                                            <p class="card-text">Sim, esse mesmo portfólio na qual você esta navegando
                                                foi desenvolvido por mim com base nos ensinamentos do Thi Code, canal
                                                renomado sobre Programação do youtube brasileiro.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://dev-seu-negocio-digital.pantheonsite.io/portfolio"
                                                    target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/caiobzr/projeto-portfolio.git"
                                                    target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve</h5>
                                            <p class="card-text">Projetos ainda em desenvolvimento.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/caiobzr" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/caiobzr" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve</h5>
                                            <p class="card-text">Projetos ainda em desenvolvimento.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/caiobzr" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/caiobzr" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/embreve.png" class="card-img-top" alt="Em breve">
                                        <div class="card-body">
                                            <h5 class="card-title">Em breve</h5>
                                            <p class="card-text">Projetos ainda em desenvolvimento.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/caiobzr" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                <a href="https://github.com/caiobzr" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-github"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5" id="contato">

            <div class="container mb 5">
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Lolicação:</h4>
                                <p>Cianorte, PR</p>
                            </div>
                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail:</h4>
                                <p>caioemanuel12.ce@gmail.com</p>
                            </div>

                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29234.430853516107!2d-52.63023126401095!3d-23.66508928175488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ed5a10a4b58527%3A0x4e632448e884ca8!2sCianorte%2C%20PR%2C%2087200-000!5e0!3m2!1spt-BR!2sbr!4v1731635271374!5m2!1spt-BR!2sbr"
                                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                        </div>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0">

                            <form class="form row g-3">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder="Digite seu nome">
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">E-mail:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder="Digite seu e-mail">
                                </div>
                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem: </label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem"></textarea>
                                </div>

                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button type="submit" class="btn btn-primary">Enviar mensagem</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        
    </main>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>